/* Reset styles */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eb8a3e;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    background-color: #d24136;
    padding: 20px;
}

.header .title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header .title h1,
.header .title p {
    margin-bottom: 15px;
}

.header .title p {
    font-size: 20px;
}

.team {
    display: flex;
    text-align: center;
    font-size: 16px;
}

.team div:nth-child(1),
.team div:nth-child(2) {
    margin-right: 10px;
}

.team img {
    width: 150px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.navigation {
    padding: 20px;
    background-color: #eb8a3e;
}

.navigation .tab-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.navigation .tab-nav a {
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #ebb582;
    box-sizing: border-box;
    max-width: 140px;
    line-height: 1.2;
}


.tab-pane .lab-nav a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: #000000;
    box-sizing: border-box;
    max-width: 300px;
    margin-bottom: 15px;
    background-color: #eb8a3e;
}

.navigation .tab-nav a.active,
.lab-nav a.active {
    background-color: rgb(220, 173, 85);
    color: #fff; !important;
    transition: 0.2s;
}

.container {
    padding: 10px;
    background-color: #eb8a3e;
}

.tabs-content {
    padding: 20px;
    background-color: #ebb582;
    border-radius: 10px;
}

.tabs-content .tab-pane {
    min-height: 400px;
}

.tab-pane.toBeContinued {
    justify-content: center;
    align-items: center;
}

.tabs-content .tab-pane,
.lab-content .lab-pane {
    display: none;
}

.tabs-content .active {
    display: flex;
}

.lab-content .active {
    display: block;
}

.tab-pane .lab-nav {
    margin-right: 40px;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
}

.lab-content {
    width: 100%;
}

.lab-pane .topic {
    font-size: 24px;
    margin: 20px 0;
    line-height: 1.5;
}

.lab-pane .goal {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.lab-pane span {
    font-weight: bold;
}

.lab-pane .git-link {
    margin-bottom: 15px;
}

.lab-pane .description {
    width: 80%;
    margin: 15px 0;
    font-size: 18px;
    line-height: 1.5;
}

.lab-pane .code-images {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

.lab-pane .code-images img {
    width: 100%;
}

.lab-pane .team {
    width: 80%;
    margin: 50px auto 0;
    display: flex;
    justify-content: space-around;
}

#lab2-part2 ul {
    padding-left: 25px;
}

#lab2-part2 ul li {
    margin-top: 10px;
    font-size: 20px;
}

#lab2-part2 ul li p {
    margin-bottom: 5px;
}

.font-weight-normal {
    font-weight: normal;
}

.mb-15 {
    margin-bottom: 15px;
}